html, body, div, span, applet, object, iframe {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body {
  font-family: 'Roboto', serif;
  width: 100%;
  padding: 0;
  background: #1a446f;
  color: #fff;
  line-height: 1.4;
}
h1, h2, h3 {
  font-family: 'Roboto Slab', serif;
  color: #f7a8ae;
  font-weight: normal;
}
h4 {
  text-transform: uppercase;
  /* font-weight: normal; */
}
a {
  color: #f7a8ae;
  text-decoration-color: #f7a8ae;
  text-decoration-style: wavy;
}
.container {
  max-width: 600px;
  margin: 2em auto;
  padding: 0 1em;
}
.lead {
  font-size: 1.5em;
  margin-top: 0;
}
.header-logo #logo {
  color: red;
  fill: yellow;
  stroke: green;
}
nowrap {
  white-space: nowrap;
}
